accelerate==0.19.0
apex==0.9.10dev
datasets==2.10.1
matplotlib==3.7.1
modules==1.0.0
numpy==1.24.3
pandas==2.0.1
tensorflow==2.12.0
torch==2.0.0
tqdm==4.65.0
transformers==4.29.2
notebook
sentencepiece
protobuf==3.20.0
wandb
seaborn
ipywidgets
