numpy>=1.20.0
scipy>=1.7.0
matplotlib>=3.7.0
scikit-learn>=1.0.2
nltk>=3.7
pytest>=7.1
jupyter>=1.0.0
pandas>=1.5
torch==2.0.0
torchvision>=0.14.1
transformers>=4.29.2
datasets==2.10.1
spacy==3.5.1
#dsp-ml==0.1.4
git+https://github.com/stanfordnlp/dsp
cohere
openai
absl-py
wandb
tokenizers>=0.13.3
sentencepiece
protobuf==3.20.*
